<a href="https://colab.research.google.com/github/Samith116/PythonBasics/blob/main/day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.Difference between the list and tuple?

In [1]:
#list is a mutable data structure means which the values of its can be changed
#tuple is immutable data structure means which the values of its can not be changed
l=[1,2,3,4]
l.append(5)
print("list:",l)
l.pop(0)
print(l)
t=(1,2,3,4)
print("tuple:",t)

list: [1, 2, 3, 4, 5]
[2, 3, 4, 5]
tuple: (1, 2, 3, 4)

## 2.How list is different from an array

In [2]:
#list can store heterogeneous data type values
#array can only store homogeneous data type values
l=[1,2.7,"abc",True]
print("list:",l)
import numpy as np
arr=np.array([1,2,3,4,5])
print("array:",arr)

list: [1, 2.7, 'abc', True]
array: [1 2 3 4 5]

## 3. Use the python list append(),copy(), clear, count, extends(), index(), insert(), pop(), reverse(), sort(), min(), max(),and sum()

In [3]:
l=[1,2,2,3,4]
l.append(10)
print("append:",l)
l2=l.copy()
print("copy:",l2)
l2.clear()
print("clear:",l2)
print("count:",l.count(2))
l3=['a','b','c']
l.extend(l3)
print("extend:",l)
print("index of a:",l.index('a'))
l.insert(3,True)
print("insert:",l)
print("pop:",l.pop())
l.reverse()
print("reverse:",l)
l4=[4,2,9,5,6,1]
l4.sort()
print("sort:",l4)
print("min:",min(l4))
print("max:",max(l4))
print("sum:",sum(l4))

append: [1, 2, 2, 3, 4, 10]
copy: [1, 2, 2, 3, 4, 10]
clear: []
count: 2
extend: [1, 2, 2, 3, 4, 10, 'a', 'b', 'c']
index of a: 6
insert: [1, 2, 2, True, 3, 4, 10, 'a', 'b', 'c']
pop: c
reverse: ['b', 'a', 10, 4, 3, True, 2, 2, 1]
sort: [1, 2, 4, 5, 6, 9]
min: 1
max: 9
sum: 27

## 4, How would you divide the list into two parts?

In [4]:
l=[1,2,3,'a','b','c']
first_l=l[:len(l)//2]
second_l=l[len(l)//2:]
print("First half:",first_l,"\nsecond half:",second_l)

First half: [1, 2, 3]
second half: ['a', 'b', 'c']

## 5. how to filter the multiple of 3 from a given list and them remove the odd number from the new filtered list.
Eg A = [1,2,3,4,5,6,7,8,9,21,23,24]
Filter_lsit = [3,6,9,21,24]
output_list = [6,24]

In [5]:
l=[1,2,3,4,6,9,11,12,14,15]
filter_l=[i for i in l if i%3==0]
print("Fileter list:",filter_l)
output_l=[i for i in filter_l if i%2==0]
print("output list:",output_l)

Fileter list: [3, 6, 9, 12, 15]
output list: [6, 12]

## 6. How you can access keys and values simultaneously and update its value

In [6]:
d={'a':1,'b':2,'c':3}
for key,value in d.items():
  print(key,":",value)
  d[key]=value*10
  print("updated value:",key,":",value)

a : 1
updated value: a : 1
b : 2
updated value: b : 2
c : 3
updated value: c : 3

## 7. Write python program to join, merge, concatente the two dictionaries..

In [7]:
dic1={'a':1,'b':2}
dic2={'c':3,'d':4}
dic1.update(dic2)
print(dic1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

## 8. How would you check a specific keys from the dictionary??

In [8]:
dic1={'a':1,'b':2,'c':3}
def check(key):
  if key in dic1.keys():
    print("yes")
  else:
    print("no")
check('a')
check(1)

yes
no

## 9. write a python program to find the unique vowel present in the sentence

In [9]:
a="hello world"
vow='aeiou'
d1={}
for i in a:
  if i in vow:
    if i in d1.keys():
      d1[i]+=1
    else:
      d1[i]=1
for i in d1.keys():
  if d1[i]==1:
    print(i)

e

## 10. We know that tuple is immutable, do any thing and add element to the tuples.

In [10]:
t1=(1,2,3,4)
t1+=(5,6,7)
print("tuple with added elements:",t1)

tuple with added elements: (1, 2, 3, 4, 5, 6, 7)

## 11. How would you sum the list of tuple and sum of tuple of list
list  = [(2,3),(4,5),(6,4)]
output= [5,9,10]

tuple  =([2,3],[4,5],[6,4])
output  =  (5,9,10)

In [11]:
l1=[(1,2,3),(3,4),(5,3,8)]
out=[]
for i in l1:
  sum=0
  for j in i:
    sum+=j
  out.append(sum)
print("output of list of tuples:",out)
out.clear()
t1=([1,2,3],[8,2],[4,7,0])
for i in t1:
  sum=0
  for j in i:
    sum+=j
  out.append(sum)
print("output of tuple of lists:",out)

output of list of tuples: [6, 7, 16]
output of tuple of lists: [6, 10, 11]

## 12. FIND THE FREQUENCY OF THE KEYS IN THE GIVEN DICTIONARY

In [12]:
d1={'a':2,'b':3,'c':2,'d':3,'e':2,'f':1}
l=list(d1.values())
d2={}
for i in l:
  if i in d2.keys():
    d2[i]+=1
  else:
    d2[i]=1
print(d2)

{2: 3, 3: 2, 1: 1}